/*
The CSS below specifies styling for the form as a whole, as well as the
specific input types, legend, and fieldset.
*/

form {
  width: 50%;
  margin: .75em;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2em;
  color: #1C1A34;
}

input[type="submit"] {
  font-size: .8em;
  color: #1C1A34;
  background-color: lightgray;
}

legend {
  font-weight: 700;
  color: #1C1A34;
}

fieldset {
  border: 5px solid #8886A0;
  margin: 2em;
  padding: 1.2em;
}
